body {
    font-size: 100%;
}

.navbar, a {
    color: rgb(70, 150, 240);
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.tagline {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 10px;
}

.error {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: red;
    font-size: 1.5em;
}

.card-schedule {
    color: rgb(70, 150, 252);
    font-size: 0.9em;
    font-weight: bold;
}

footer {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgb(150, 150, 150);
}

.navbar {
    border-bottom: 1px solid rgb(150, 150, 150);
}

.navbar, footer {
    background-color: rgb(245, 245, 245);
}

#content {
    border: 1px solid rgb(220, 220, 220);
    border-top: none;
    margin-bottom: 50px;
    padding: 10px;
}

#add {
    margin-top: -50px;
}

.btn {
    border: 1px solid rgb(170, 170, 170);
    background-color: white;
}

.sort-bar .btn {
    font-size: 0.75em;

    margin: 2px;
    border-radius: 0;
}

.sort-bar .btn:hover {
    background-color: rgb(90, 90, 90);
}

.btn:hover {
    background-color: rgb(70, 150, 252);
    color: white;
    transition: 0.25s;
}

.info {
    margin: 5px;
}

.info p {
    margin: 2px;
}

.course-item {
    background-color: rgb(245, 245, 245);
}

.course-item:hover {
    background-color: white;
    transition: 0.25s;
}

/* ASSIGNMENT STYLING */
.assignment {
    padding: 5px;
    border-bottom: 1px solid rgb(170, 170, 170);
}

.assignment-container {
    padding: 0;
    margin: 0;
}

.assignment-header {
    margin-bottom: 10px;
    background-color: rgb(90, 90, 90);
}

.assignment-name {
    margin: 0 5px;
    color: white;
    font-weight: bold;
}

.assignment-due {
    color: white;
}

.assignment-points {
    font-weight: bold;
    font-variant: small-caps;
}

.assignment-status {
    font-size: 1.2em;
    font-weight: bold;
}

.assignment-bar form {
    display: inline;
    margin: 0;
}

.assignment-bar button, .assignment-bar a {
    font-size: 0.75em;
    border: 0;
    border-bottom: 1px solid white;
}

.assignment-edit-button {
    background-color: rgb(70, 150, 252);
    color: white;

    border-radius: 5px 0 0 0;
}

.assignment-edit-button:hover {
    background-color: white;
    color: black;
    transition: 0.25s;
}

.assignment-delete-button {
    background-color: red;
    color: white;
}

.assignment-delete-button:hover {
    background-color: black;
    color: white;
    transition: 0.25s;
}