extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title
  .row
    .col-md-6.col-sm-12
      p
        | This application was designed to allow users to be able to create their own playing cards and then be able to trade those cards with other users.
        | <br /><br />
        | The new technology that our team implemented allows users to upload their own images when creating cards.
        | This allows them to specify the name for the card, the information for the card, and the image that should be associated with the card.
        | In order to trade cards, you can specify your username, the username of the person that you wish to trade with, and can specify what cards you would like to trade.
        | <br /><br />
        | You should vote for our project because it implements file uploading which allows for a much more personalized card creation process. 
        | Enjoy trading!
        | For this project, our team chose option 2.