extends layout

block content
	#banner.page-header
		.row
			.col-xs-12
				h1= pageHeader.title
				a.btn.btn-info(href='/cards/new') New Card
				<br /><br />
		.row
			.col-xs-12
				.error= message
				.row.list-group
					each card in cards
						.col-xs-12.list-group-item
							h4
								a(href="/cards/" + card._id) #{card.name}
								p Owner ID: '#{card.owner_id}'
								.card-image
									img.image(src='/api/cards/' + card._id + '/image')