extends layout

block content
	.row.page-header
		.col-lg-12
			h1= pageHeader.title
	.row
		.col-xs-12.col-md-6
			form.form-horizontal(action="", method="post", role="form")
				- if (error == "val")
					.alert.alert-danger(role="alert") All fields are required. Try again.
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="title") Title
					.col-xs-12.col-sm-10
						input#title.form-control(type="text" value= card.title name="title")
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="image") Image
					.col-xs-12.col-sm-10
						------------INSERT IMAGE SUBMISSION HERE-------------
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="description") Description
					.col-xs-12.col-sm-10
						input#description.form-control(type="text" value= card.description name="description")
						
				button.btn.btn-default.pull-right Submit Edit