extends layout

block content
	.row.page-header
		.col-xs-12
			h1= pageHeader.title
	.row
		.col-xs-12
			form.form-horizontal(action="", method="post", role="form", enctype='multipart/form-data')
				- if (error == "val")
					.alert.alert-danger(role="alert") All fields are required. Try again.
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="name") Name
					.col-xs-12.col-sm-10
						input#name.form-control(type="text" placeholder="Name of Card" name="name")
				//
					.form-group
						label.col-xs-10.col-sm-4.control-label(for="image") Image
						.col-xs-12.col-sm-10
							p ------------INSERT IMAGE SUBMISSION HERE-------------
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="description") Description
					.col-xs-12.col-sm-10
						input#description.form-control(type="text" placeholder="Card Description" name="description")
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="owner_id") Your User ID
					.col-xs-12.col-sm-10
						select#owner_id.form-control(type="text" placeholder="User ID" name="owner_id")
							each user in users
								option(value=user._id) #{user._id}

				.form-group
					label.col-xs-10.col-sm-4.control-label(for="image") Image
					.col-xs-12.col-sm-10
						input#image(type="file" placeholder="Image upload" name="image")
					
				button.btn.btn-default.pull-left Submit Card