extends layout

block content
	.row.page-header
		.col-xs-12
			h1= pageHeader.title
	.row
		.col-xs-12
			p Your User ID will be generated upon successful completion of the below form.
			p Check the bottom of the user list and match your bio to check.
	.row
		.col-xs-12
			form.form-horizontal(action="", method="post", role="form")
				- if (error == "val")
					.alert.alert-danger(role="alert") Check Required fields and try again.
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="username") Username
					.col-xs-12.col-sm-10
						input#username.form-control(type="text" placeholder="Username" name="username" required)
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="password") Password
					.col-xs-12.col-sm-10
						input#password.form-control(type="text" placeholder="User Password" name="password" required)
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="email") Email
					.col-xs-12.col-sm-10
						input#email.form-control(type="text" placeholder="User Email" name="email" required)
				.form-group
					label.col-xs-10.col-sm-4.control-label(for="bio") Bio
					.col-xs-12.col-sm-10
						input#bio.form-control(type="text" placeholder="User Bio" name="bio" required)
						
				button.btn.btn-default.pull-left Submit User