extends layout

block content
	#banner.page-header
		.row
			.col-xs-12
				h1= pageHeader.title
				a.btn.btn-info(href='/users/new') New User
				<br /><br />
		.row
			.col-xs-12
				.error= message
				.row.list-group
					each user in users
						.col-xs-12.list-group-item
							h4
								a(href="/users/" + user._id) Username: #{user.username},  (ID: #{user._id})